body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}
.header {
  min-width: 300px;
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 15%;
  flex-wrap: wrap;
}

.header-logo img{
  object-fit: cover;
  max-height: 75px;
}

.header-text a {
  font-family: 'Press Start 2P', cursive;
  color: #ff5e00 !important;
  font-size: 24px;
  text-shadow: 2px 2px white;
  max-height: 30px;
  padding-left: 10px;
  text-decoration: none !important;
}

.header-link {
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
  margin-left: auto;
  gap: 16px;
  padding-right:20%;
}


.body {
  display: flex;
  flex-direction: column;
}

.container-one {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 10%;
  gap: 50px;
  margin: 0;
  flex-wrap: wrap;
}

.container-one .left-box {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-one .left-box h1 {
  color: #F9FaF8;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.container-one .left-box .text {
  color: #E5E7EB;
  font-size: 18px;
  padding-bottom: 10px;
}

.container-one .left-box .sign-up {
  max-width: 100px;
  min-height: 30px;
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.container-one .left-box .sign-up:hover {
  background-color: #ffffff;
  color: black;
}

.big-image {
  max-width: 450px;
  flex: auto;
}

.big-image img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  flex: 1 0 auto;
}

.container-two h2{
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.container-two {
  padding: 40px 0;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1 0 auto;
  gap: 10px;
}

.small-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.container-three {
  display: flex;
  flex-direction: column;
  background: #E5E7EB;
  padding: 75px 20px;
  align-items: center;
}

.quote {
  max-width: 800px;
  font-size: 36px;
  color: #1F2937;
  font-weight: light;
  font-style: italic;
  padding-bottom: 20px;
}

.name {
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  align-self: flex-end;
  padding-right: 30%
}

.container-four {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.sign-up-box {
  background-color: #3882F6;
  display: flex;
  padding: 40px 50px;
  gap: 50px;
  border-radius: 20px;
}

.container-four .left-box {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-four .left-box h3 {
  
  font-size: 26px;
  color: #F9FaF8;
  padding: 0;
  margin: 0;
}

.container-four .sign-up {
  min-width: 100px;
  min-height: 40px;
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid white;
  align-self: center;
}

.container-four .text {
  color: white;
  font-size: 20px;
}

.footer {
  height: 30px;
  background-color: #1F2937;
  color:#F9FaF8;
  text-align: center;
  padding-top: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color:#E5E7EB;
}

a:hover {
  text-decoration: underline;
}

.container-four .sign-up:hover {
  background-color: #ffffff; /* Green */
  color: black;
}

.construction-container {
  background-color: #E5E7EB;
  text-align: center;
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}